<head>
    <link rel = "stylesheet" href = "/stylesheets/newfooterstyles.css">
</head>
<footer class="bg-dark">
    <div class="container">
        <div class="row text-white">
            <div class="footertextnew">
                <p>Graphical Ads</p>
                <p>Explore our collection, pick your preferred Graphical Advertisements and earn Rewards!</p>
                <p><div class = "copyrighttext">@TokenGraphAds2024</div></p>
            </div>
        </div>
    </div>
</footer>
