<%- include partials/header.ejs %>

<header id = "header" class = "vh-100 carousel slide" data-bs-ride = "carousel" style = "padding-top: 104px;">
    <div class = "container h-100 d-flex align-items-center carousel-inner">
        <div class = "text-center carousel-item active">
            <h2 class = "text-capitalize text-black">best collection</h2>
            <h1 class = "text-uppercase py-2 fw-bold text-black">new graphic ads</h1>
            <a href = "/page1" class = "btn mt-3 text-uppercase">shop now</a>
        </div>
    </div>
</header>

<%- include partials/footer.ejs %>

   <!-- bootstrap js -->
   <script src = "bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</html>