<%- include partials/header.ejs %>

<header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top: 10px;">
    <div class="container h-100 d-flex align-items-center carousel-inner">
        <div class="text-center carousel-item active" style="margin-top: -200px;">
            <h1 class="text-uppercase py-2 fw-bold text-black">New Graphic Ads</h1>
            <button class="btn mt-3 text-uppercase enableEthereumButtonShop">Shop Now</button>
            <% if (hasErrors) { %>
                <div class="alert alert-danger">
                    <% messages.forEach(function(message) { %>
                        <p><%= message %></p>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</header>

<script>
    window.onload = async function() {
        console.log('Window loaded');
        const ethereumButtonShop = document.querySelector('.enableEthereumButtonShop');
        console.log('Ethereum button:', ethereumButtonShop);
        ethereumButtonShop.addEventListener('click', async () => {
            console.log('Ethereum button clicked');
            try {
                if (window.ethereum) {
                    console.log('MetaMask detected');
                    const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
                    const account = accounts[0];
                    console.log('MetaMask account retrieved:', account);
                    window.location.href = '/page1';
                } else {
                    console.error('MetaMask not detected');
                    alert('Please install MetaMask');
                }
            } catch (error) {
                console.error('Error during MetaMask authentication:', error);
            }
        });
    };
</script>

<%- include partials/footer.ejs %>
   <!-- bootstrap js -->
   <script src = "bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</html>