<%- include partials/header.ejs %>
<head>
   <link rel = "stylesheet" href = "/stylesheets/aboutstyles.css">
 </head> 

<section class = "about" class = "py-5">
   <div class = "container" style="margin-bottom: 80px;">
       <div class = "row gy-lg-5 align-items-center">
           <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
               <div class = "title pt-3 pb-5">
                   <h2 class = "position-relative d-inline-block ms-4">About Us</h2>
               </div>
               <p class = "lead text-muted">We offer our clientele a wide variety of Graphical Advertisements.</p>
               <p>Surfing the global market for your preferred graphical advertisement can be an ordeal. Now, look no further than Token Graph Ads, which offers seamless transactions for your top-notch graphical advertisements, the Web 3.0 way</p>
           </div>
           <div class = "col-lg-6 order-lg-0">
               <img src = "/images/aboutus.jpg" alt = "" class = "img-fluid">
           </div>
       </div>
   </div>
 </section> 

<%- include partials/footer.ejs %>