<%- include partials/header.ejs %>

<head>
    <link rel = "stylesheet" href = "TokenGraphAdsApp/public/stylesheets/shoppingcartgraphadstyles.css">
  </head>

  <div class = "title text-center py-5">
    <div class = "collectionheading">
      <h2 class = "position-relative d-inline-block">Shopping Cart</h2>
    </div>
  </div>
